<div class="mobile-nav">
  <ul><li><a href="#about">About</a></li>
    <li><a href="#design">Study</a></li>
    <li><a href="#instagram">Photos</a></li>
    <li><a href="#social">Social</a></li>
  </ul></div><header><div class="header-position">
    <h1 class="logo">Andrew Koval</h1>
    <nav class="site-nav">
      <ul><li><a href="#about">About</a>
    </li><li><a href="#design">Study</a>
    </li>
    <li>
      <a href="#instagram">Photos</a></li>
      <li><a href="#social">Social</a></li>
    </nav><a href="#footer" class="email-link">+email me</a>
    <div class="mobile-nav-toggle"><span></span></div></div></header>
