<section id="social" class="social">
	<h1>Me In Social Media</h1>

	<div class="social-links">

	    <a href="https://de.linkedin.com/in/anrew-koval-52178610a" class="design-social-links"\>
	    		<img src="assets/img/social/linkedin.png">
	    </a>
	    <a href="https://github.com/kvlsky" class="design-social-links"\>
	    		<img src="assets/img/social/github.png">
	    </a>
	    <a href="https://www.facebook.com/profile.php?id=100007260046342" class="design-social-links"\>
	    		<img src="assets/img/social/facebook.png">
	    </a>
	    <a href="https://twitter.com/kvlsky" class="design-social-links"\>
	    		<img src="assets/img/social/twitter.png">
	    </a>

  </div>

</section>
