<section id="design" class="design">
	<div class="flex flex--center">
		<div data-orig-color="#ea4c89" class="col-50 flex flex--center dribbble">
		<div class="col-1">
		<p class="home-lead">...studying in NTUU KPI...</p>
		<a href="http://kpi.ua" data-color="orange" class="design-img-link">
		<img src="assets/img/kpi2.jpg"/>
		</a>
		<div class="cf">
	</div>
	<a href="http://kpi.ua" class="home-cta">kpi.ua</a>
	</div>
	</div>
	<div data-orig-color="#1769ff" class="col-50 flex flex--center behance">
	<div class="col-1">   <p class="home-lead">...and University Merseburg...</p>
	<a href="https://www.hs-merseburg.de" data-color="blue" class="design-img-link">
		<img src="assets/img/mers.jpg"/>
	</a>
	<div class="cf">
	</div>
	<a href="https://www.hs-merseburg.de" class="home-cta">hs-merseburg.de</a>
	</div>
	</div>
	</div>
</section>
